<center><h1>Log In to Your Look at Book Reviews Account</h1></center>

<form method = "POST" action = "/login">

<h3>Username: <input type = "text" name = "username" id = "username"></h3>

<h3>Password: <input type = "text" name = "password" id = "password"></h3>

<p><input type = "submit" name = "Log In" id = "submit"></p>

</form>
