<center><h1>Create your Look at Book Reviews Account</h1></center>

<form method = "POST" action = "/signup">
	
<p><h2>Username: <input type = "text" name = "username" id = "username"></h2></p>
<p><h2>Email: <input type = "text" name = "email" id = "email"></h2></p>
<p><h2>Password: <input type = "text" name = "password" id = "password"></h2></p>

<input type = "submit" name = "Create Your Account" id = "submit">
</form>

<p><a href = "/login">Log in to your Account</a></p>
