<center><h1 class = "title">Add a New Book to the Library</h1></center>

<form method = "POST" action = "/books/add">
	<p>Add a New Book Title: <input type = "text" name = "title" id = "title"></p>
	<p>Add the Book's Author: <input type = "text" name = "author" id = "author"></p>

	<input type = "submit" name = "Submit" id = "submit">
</form>

