<center><h1>All the Books in Our Library</h1></center>

<% @books.each do |book| %>
<b>Title:</b> <%= book.title %><br>
<b>Author:</b> <%= book.author %><br>
<p><a href = "/book/<%=book.slug%>">View Reviews for <%= book.title%></a><br></p>
<% end %>

