<h1 class = "title"><center>View Book Reviews for <%=@book.title%></center></h1>
<center><h2>By: <%=@book.author%></h2></center>

<a href = "/reviews/new" class = "button">Write Your Own Review</a>

<% @reviews.each do |review| %>
<p><b>Username: </b><%= review.user.username %></p>
<p><b>Review: </b><%= review.summary %></p>
<% end %>


