<h1 class = "title"><center>Welcome to Look at Book Reviews!</center></h1>

<center>We're a premium book review website that answers all of your burning questions about the books you're reading or thinking about reading! Let's get reading!</center>

<p><center><a href = '/signup' class = "button">Sign Up</a> or <a href = "/login" class = "button">Log In</a></center></p>
